In [202]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [203]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(2)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
861,tt1588334,10000000,4417580,"Jeff, Who Lives at Home",Jason Segel|Ed Helms|Susan Sarandon|Judy Greer...,Mark Duplass|Jay Duplass,The first step to finding your destiny is leav...,Dispatched from his basement room on an errand...,83,Drama|Comedy,Indian Paintbrush,9/13/2011,5.9,2011
482,tt1555064,15000000,20529194,Country Strong,Gwyneth Paltrow|Garrett Hedlund|Tim McGraw|Lei...,Shana Feste,It doesn't matter where you've been as long as...,Soon after the rising young singer-songwriter ...,117,Drama|Romance,Maguire Entertainment|Screen Gems|Sony Picture...,12/22/2010,5.9,2010

In [204]:
data.head(2)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,7.1,2015

# Предобработка

In [205]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:
data['profit'] = data.revenue - data.budget
data.release_date = pd.to_datetime(data.release_date)
data.genres = data.genres.apply(lambda x: x.replace('|', ','))
data.genres = data.genres.apply(lambda x: x.split(','))
data['list_genres'] = data.genres
data['director_list'] = data.director.apply(lambda x: x.split('|'))
data.cast = data.cast.apply(lambda x: x.split("|"))
data.production_companies = data.production_companies.apply(lambda x: x.split('|'))
data['title_len_simb'] = data.original_title.apply(lambda x: len(x))
# функция, которая вычисляет месяц релиза
def release_month(x):
    x_1 = str(x).split('-')
    if x_1[1] == '01':
        return 'january'
    elif x_1[1] == '02':
        return 'february'
    elif x_1[1] == '03':
        return 'march'
    elif x_1[1] == '04':
        return 'avril'
    elif x_1[1] == '05':
        return 'may'
    elif x_1[1] == '06':
        return 'june'
    elif x_1[1] == '07':
        return 'july'
    elif x_1[1] == '08':
        return 'august'
    elif x_1[1] == '09':
        return 'september'
    elif x_1[1] == '10':
        return 'october'
    elif x_1[1] == '11':
        return 'november'
    elif x_1[1] == '12':
        return 'december'
# сделаем в таблице колонку месяц'ы release_month
data['release_month'] = data.release_date.apply(release_month)

# функция, которая дает количество слов во фразе
def words_count(x):
    return len(x.split())
# создадим столбец с длинной слов в названии
data['overview_words'] = data.overview.apply(words_count)

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [206]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
# answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)' 
# если ответили верно, можете добавить комментарий со значком "+"

In [166]:
# тут пишем ваш код для решения данного вопроса:
biggest_budget = data[data.budget == data.budget.max()].index
display(data.original_title.loc[biggest_budget])

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

ВАРИАНТ 2

In [209]:
# можно добавлять разные варианты решения
data_2 = data.sort_values('budget', ascending=False)
data_2.original_title.iloc[0]

'Pirates of the Caribbean: On Stranger Tides'

# 2. Какой из фильмов самый длительный (в минутах)?

In [208]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '2. Gods and Generals (tt0279111)'

In [210]:
index_longtime = data[data.runtime == data.runtime.max()].index
data.original_title.loc[index_longtime]

1157    Gods and Generals
Name: original_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [211]:
answers['3'] = '3. Winnie the Pooh (tt1449283)'
index_shortest = data[data.runtime == data.runtime.min()].index
data.original_title.loc[index_shortest]

768    Winnie the Pooh
Name: original_title, dtype: object

# 4. Какова средняя длительность фильмов?

In [212]:
answers['4'] = '2. 110'
display(data.runtime.mean())

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [213]:
answers['5'] = '1. 107'
display(data.runtime.median())

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [214]:
# лучше код получения столбца profit вынести в Предобработку что в начале
answers['6'] = '5. Avatar (tt0499549)'
data[data.profit == data.profit.max()].original_title

239    Avatar
Name: original_title, dtype: object

# 7. Какой фильм самый убыточный?

In [215]:
answers['7'] = '5. The Lone Ranger (tt1210819)'
data[data.profit == data.profit.min()].original_title

1245    The Lone Ranger
Name: original_title, dtype: object

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [216]:
answers['8'] = '1. 1478'
data_positive = data[data.profit > 0]
data_positive.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1478 entries, 0 to 1884
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               1478 non-null   object
 1   budget                1478 non-null   int64
 2   revenue               1478 non-null   int64
 3   original_title        1478 non-null   object
 4   cast                  1478 non-null   object
 5   director              1478 non-null   object
 6   tagline               1478 non-null   object
 7   overview              1478 non-null   object
 8   runtime               1478 non-null   int64
 9   genres                1478 non-null   object
 10  production_companies  1478 non-null   object
 11  release_date          1478 non-null   datetime64[ns]
 12  vote_average          1478 non-null   float64
 13  release_year          1478 non-null   int64
 14  profit                1478 non-null   int64
 15  list_genres           1478 non-null   object
 16  director_list         1478 non-null   object
 17  title_len_simb        1478 non-null   int64
 18  release_month         1478 non-null   object
 19  overview_words        1478 non-null   int64
dtypes: datetime64[ns](1), float64(1), int64(7), object(11)
memory usage: 242.5+ KB

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [217]:
answers['9'] = '4. The Dark Knight (tt0468569)'
revenue_max_08 = data[(data.release_date >= '2008-1-1') & (data.release_date <= '2008-12-31')].revenue.max()
data[data.revenue == revenue_max_08].original_title

599    The Dark Knight
Name: original_title, dtype: object

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [218]:
answers['10'] = '5. The Lone Ranger (tt1210819)'
profit_min_12_14 = data[(data.release_date >= '2012-1-1') & (data.release_date <= '2014-12-31')].profit.min()
display(data[data.profit==profit_min_12_14].original_title)

1245    The Lone Ranger
Name: original_title, dtype: object

# 11. Какого жанра фильмов больше всего?

In [219]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
answers['11'] = '3. Drama'
data.explode('genres').groupby(['genres'])['imdb_id'].count().sort_values(ascending = False)

genres
Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
Name: imdb_id, dtype: int64

ВАРИАНТ 2

In [220]:
len(data.explode('list_genres'))
test = data.explode('list_genres')
test_1 = test['list_genres'].str.cat(sep=',')
from collections import Counter
test_2 = test_1.split(',')
test_genres = Counter(test_2).most_common(1)
test_genres

[('Drama', 782)]

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [221]:
answers['12'] = '1. Drama'
data[data.profit>0].explode('genres').groupby(['genres'])['imdb_id'].count().sort_values(ascending = False)

genres
Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
Name: imdb_id, dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [222]:
answers['13'] = '5. Peter Jackson'
test = data.groupby(['director']).sum()
test.revenue.sort_values(ascending = False).index[0]

'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [236]:
answers['14'] = '3. Robert Rodriguez'

# составим список режиссеров, которые снимали Action
directors_list = []

for i in range(len(data.list_genres)):
    if 'Action' in data.genres.loc[i]:
        directors_list.append(data.director_list.loc[i])

# сделаем из этого списка списков плоский список
dir_list_flat = []
for element in directors_list:
    for director in element:
        dir_list_flat.append(director)
        
# просто посчитаем кто в нем чаще других
dir_count = Counter(dir_list_flat).most_common(1)
dir_count

[('Robert Rodriguez', 9)]

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [237]:
answers['15'] = '3. Chris Hemsworth'
# выделим фильмы 2012 года
data_2012 = data[data.release_year == 2012]
data_2012
# группируем актер - сумма кассовых сборов от фильмов с его участием
data_2012.explode('cast').groupby(['cast'])['revenue'].sum().sort_values(ascending = False).index[0]

'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [238]:
answers['16'] = '3. Matt Damon'
# фильмы с бюджетом выше среднего
data_expensive = data[data.budget>data.budget.mean()]
# актер, снимавшийся в этих фильмах
data_expensive.explode('cast').groupby(['cast'])['imdb_id'].count().sort_values(ascending = False).index[0]

'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [239]:
answers['17'] = '2. Action'
# все фильмы Николаса Кеджа
cage_list = []
for i in range(len(data.imdb_id)):
    if 'Nicolas Cage' in data.cast.loc[i]:
        cage_list.append(data.list_genres.loc[i])
cage_list
cage_list_flat = []
for element in cage_list:
    for genre in element:
        cage_list_flat.append(genre)
cage_list_flat
result = Counter(cage_list_flat).most_common(1)
result

[('Action', 17)]

# 18. Самый убыточный фильм от Paramount Pictures

In [240]:
answers['18'] = '1. K-19: The Widowmaker (tt0267626)'
# выделить все фильмы Парамаунт
data_pp = []
for i in range(len(data.production_companies)):
    if 'Paramount Pictures' in data.production_companies.loc[i]:
        data_pp.append(data.loc[i])
data_pp_frame = pd.DataFrame(data_pp)
# определить самый убыточный profit.min()
data_pp_frame[data_pp_frame.profit == data_pp_frame.profit.min()].original_title

925    K-19: The Widowmaker
Name: original_title, dtype: object

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [241]:
answers['19'] = '5. 2015'
data.groupby('release_year').sum().revenue.sort_values(ascending = False).index[0]

2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [242]:
answers['20'] = '1. 2014'
# отделим все фильмы Warner
data_wb_list = []
for i in range(len(data.production_companies)):
    if 'Warner Bros.' in str(data.production_companies.loc[i]):
        data_wb_list.append(data.loc[i])
data_wb = pd.DataFrame(data_wb_list)
# определим самый прибыльный год
data_wb.groupby(['release_year'])['profit'].sum().sort_values(ascending = False).index[0]

2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [243]:
answers['21'] = '4. Сентябрь'
data.groupby('release_month')['imdb_id'].count().sort_values(ascending=False).index[0]

'september'

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [244]:
answers['22'] = '2. 450'
# список летних фильмов
movie_summer = []
# наполняем список
for i in range(len(data.release_month)):
    if data.release_month.iloc[i] in ['june','july','august']:
        movie_summer.append(data.imdb_id.iloc[i])
len(movie_summer)

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [246]:
answers['23'] = '5. Peter Jackson'
# список режиссеров, выпускавших фильмы зимой
directors_list_w = []
# наполняем список
for i in range(len(data.release_month)):
    if data.release_month.iloc[i] in ['december','january','february']:
        directors_list_w.append(data.director_list.iloc[i])
# список списков превращаем в плоский список
directors_list_w_flat = []
for elements in directors_list_w:
    for director in elements:
        directors_list_w_flat.append(director)
# считаем количество упоминаний
result_dir = Counter(directors_list_w_flat).most_common(1)
result_dir

[('Peter Jackson', 7)]

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [247]:
answers['24'] = '5. Four By Two Productions'
data.explode('production_companies').groupby(['production_companies']).title_len_simb.mean().sort_values(ascending = False).index[0]

'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [248]:
answers['25'] = '3. Midnight Picture Show'
data.explode('production_companies').groupby(['production_companies']).overview_words.mean().sort_values(ascending = False).index[0]

'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [249]:
answers['26'] = '1. Inside Out, The Dark Knight, 12 Years a Slave'
# смотрим распределение рейтингов
data.vote_average.value_counts(normalize=True).sort_index(ascending = False)
# видим, что рейтинги 8.1, 8.0 и 7.9 суммарно составляют примерно 1% (0.7%) от общего объема
# смотрим какие фильмы получили рейтинги 8.1, 8.0, 7.9
data[(data.vote_average == 7.9) | (data.vote_average == 8.0) | (data.vote_average == 8.1)].original_title
# выбираем вручную фильмы для ответа

9                                          Inside Out
34                                               Room
118                                      Interstellar
119                           Guardians of the Galaxy
125                                The Imitation Game
128                                         Gone Girl
138                          The Grand Budapest Hotel
370                                         Inception
599                                   The Dark Knight
872                                       The Pianist
1081    The Lord of the Rings: The Return of the King
1183                          The Wolf of Wall Street
1191                                 12 Years a Slave
1800                                          Memento
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

import itertools
# делаем Series  c колонкой артистов
test_list = data.explode('cast_list').cast_list.reset_index() 
# ''' создаем пустой промежуточный список'''
test_list_2 = [] 
test_list_final = []
# наполняем список парами артистов. для этого из каждой 5-ки артистов, снимавшихся в одном фильме составляем пары
# и включаем пары в список. получается список списков
for i in range(len(data.cast_list)):
    test_list_2_1 = list(itertools.combinations(data.cast_list.iloc[i], 2))
    test_list_2.append(test_list_2_1)
# из списка списков делаем плоский список
for element in test_list_2:
    for duet in element:
        test_list_final.append(duet)
test_list_final
result = pd.Series(Counter(test_list_final))
result.sort_values(ascending = False)ВАРИАНТ 2

# Submission

In [252]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker (tt0267626)',
 '19': '5. 2015',
 '20': '1. 2014',
 '21': '4. Сентябрь',
 '22': '2. 450',
 '23': '5. Peter Jackson',
 '24': '5. Four By Two Productions',
 '25': '3. Midnight Picture Show',
 '26': '1. Inside Out, The Dark Knight, 12 Years a Slave',
 '27': '5. Daniel Radcliffe & Rupert Grint'}

In [251]:
# и убедиться что ни чего не пропустил)
len(answers)

27

In [250]:
answers['27'] = '5. Daniel Radcliffe & Rupert Grint'
import itertools
# делаем Series  c колонкой артистов
test_list = data.explode('cast').cast.reset_index() 
# ''' создаем пустой промежуточный список'''
test_list_2 = [] 
test_list_final = []
# наполняем список парами артистов. для этого из каждой 5-ки артистов, снимавшихся в одном фильме составляем пары
# и включаем пары в список. получается список списков
for i in range(len(data.cast)):
    test_list_2_1 = list(itertools.combinations(data.cast.iloc[i], 2))
    test_list_2.append(test_list_2_1)
# из списка списков делаем плоский список
for element in test_list_2:
    for duet in element:
        test_list_final.append(duet)
test_list_final
result = pd.Series(Counter(test_list_final))
result.sort_values(ascending = False)

Daniel Radcliffe  Emma Watson             8
                  Rupert Grint            8
Rupert Grint      Emma Watson             7
Johnny Depp       Helena Bonham Carter    6
Ben Stiller       Owen Wilson             6
                                         ..
Emma Stone        Josh Brolin             1
Ryan Gosling      Nick Nolte              1
                  Josh Brolin             1
Sean Penn         Nick Nolte              1
Chris Pratt       Bryce Dallas Howard     1
Length: 18121, dtype: int64